*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(rgb(42, 138, 217),rgb(247, 246, 246)); */
    background-color: rgb(45, 135, 45);
    
    
}
.reg{
    background-color: white;
    border: none;
    height: 500px;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 3px 15px rgba(56, 56, 56, 0.5);
}

h1{
    margin-left: 60px;
    margin-bottom: 20px;
    color: blue;
}

a{
    margin-left: 10px;
    font-size: large;

}

input{
    margin-left: 10px;
    width: 260px;
    height: 35px;
    margin-bottom: 8px;
    font-size: large;
    border: none;
    background-color: rgb(219, 219, 219);
}

button{
    margin-left: 45px;
    height: 40px;
    width: 200px;
    border: none;
    background-color:rgb(30, 24, 151);
    color: white;
    font-size: 20px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(42, 145, 37);
    font-size: 20px;
}

#acc{
    font-size: 21px;
}


#link{
    text-decoration: none;
    font-size: 20px;
}
#link:hover{
    color: rgb(201, 131, 1);
    text-decoration: underline;
}